<div id="profile">
  <md-card class="border-square">
    <md-card-header class="header-area">
      <md-card-title class="title">Profile registration / editing</md-card-title>
      <md-card-subtitle class="subtitle">Please register / edit your profile.</md-card-subtitle>
    </md-card-header>
    <form #loginForm="ngForm">
      <md-card-content class="content-area">
        <div class="item-block">
          <span>Name (Kanji)</span>
        </div>
        <div class="input-block">
          <md-input placeholder="Name (Kanji)" name="name_kanji" [(ngModel)]="name_kanji" required class="input"></md-input>
        </div>
      </md-card-content>
      <md-card-content class="content-area">
        <div class="item-block">
          <span>Name (phonetic)</span>
        </div>
        <div class="input-block">
          <md-input placeholder="Name (phonetic)" name="name_phonetic" [(ngModel)]="name_phonetic" required class="input"></md-input>
        </div>
      </md-card-content>
      <md-card-content class="content-area">
        <div class="item-block">
          <span>Age</span>
        </div>
        <div class="input-block">
          <md-input placeholder="Age" name="age" [(ngModel)]="age" required class="input"></md-input>
        </div>
      </md-card-content>
      <md-card-content class="content-area">
        <div class="item-block">
          <span>Sex</span>
        </div>
        <div class="input-block">
          <md-radio-group>
            <md-radio-button value="1">男</md-radio-button>
            <md-radio-button value="2">女</md-radio-button>
          </md-radio-group>
        </div>
      </md-card-content>
      <md-card-content class="content-area">
        <div class="item-block">
          <span>Nearest Station</span>
        </div>
        <div class="input-block">
          <md-input placeholder="Nearest Station" name="nearest_station" [(ngModel)]="nearest_station" required class="input"></md-input>
        </div>
      </md-card-content>
      <md-card-content class="content-area">
        <div class="item-block">
          <span>Final Education</span>
        </div>
        <div class="input-block">
          <md-input placeholder="Final Education" name="final_education" [(ngModel)]="final_education" required class="input"></md-input>
        </div>
      </md-card-content>
      <md-card-content class="content-area">
        <div class="item-block">
          <span>Language Study</span>
        </div>
        <div class="input-block">
          <md-input placeholder="Language Study" name="language_study" [(ngModel)]="language_study" required class="input"></md-input>
        </div>
      </md-card-content>
      <md-card-content class="content-area">
        <div class="item-block middle">
          <span>Qualification</span>
        </div>
        <div class="input-block">
          <textarea placeholder="Textarea with autosize" name="qualification" [(ngModel)]="qualification" class="textarea"></textarea>
        </div>
      </md-card-content>
      <md-card-actions class="actions-area">
        <button class="login-button" md-raised-button color="primary" (click)="login()" class="size-middle">Regist</button>
      </md-card-actions>
    </form>
  </md-card>
</div>
