<div id="contents">
  <md-card class="card-size">
    <button md-button color="primary" (click)="gotoPage('profile')"><md-icon class="icon-size-small">mode_edit</md-icon>REGISTER PROFILE</button>
    <button md-button color="primary" (click)="gotoPage('career')"><md-icon class="icon-size-small">mode_edit</md-icon>REGISTER CAREER</button>
    <button md-button color="primary" (click)="gotoPage('view')"><md-icon class="icon-size-small">collections</md-icon>VIEW MY PORTFOLIO</button>
    <button md-button color="primary" (click)="gotoPage('settings')"><md-icon class="icon-size-small">build</md-icon>SETTINGS</button>
  </md-card>
</div>
<router-outlet></router-outlet>
