/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}
body, h1, h2, h3, p, ul, li, form, input, header, nav, article, section, dialog, figure, aside, footer {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
textarea {
  vertical-align: top;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
ul {
  list-style: none;
}
* {
  outline: none !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
    color: #233984;
}
a, a:hover {
  text-decoration: none;
}
button {
  cursor: pointer;
}
body {
  background-color: white;
  font-family: "Lucida Grande", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  font-size: 13px;
  color: #000;
  line-height: 1.5em;
  -webkit-tap-highlight-color: transparent;
}
@media only screen and (max-width: 768px), screen and (max-device-width: 736px) {
  * {
    font-size: 1em;
  }
  body {
    font-size: 18px !important;
  }
  select {
    height: 30px;
  }
  body {
    -webkit-text-size-adjust: none;
  }
}
@media only screen and (min-width: 769px) {
  body {
    font-size: 13px !important;
  }
}
